<ion-content>
  <div style="--color: var(--main-color);margin-bottom: 0;">
    <!-- HEADER -->
    <ion-icon slot="start" name="arrow-back" class="icon-nav-arrow "
      style="color: var(--main-color); border-radius: 100%;position: absolute;z-index: 10;" (click)="goInicio()">
    </ion-icon>
    <ion-item style="--background: transparent;margin-bottom: 0;" lines="none">
      <ion-title class="title" style="color: var(--main-color);">CONFIGURACIÓN</ion-title>
    </ion-item>
  </div>



  <ion-item class="ion-no-padding" lines="none" button="true"  (click)="goWallets()"
    style="--padding-bottom: 10px;--padding-top:10px; border-bottom: solid 0.5px #ececec;">
    <div slot="start" style="background:var(--main-color) ;border-radius: 10px;margin: auto;padding: 7px 10px;margin: 10px 20px;">
      <ion-icon name="wallet" style="font-size: 23px;margin-top: 8%;color: #FFF;"></ion-icon>
    </div>
    <ion-label style="font-weight: 500;font-size: 15px;margin: 7px auto;margin-bottom: 3px;">Cuentas <br>
      <p style="font-size: 11px; color: #a1a1a1; font-weight: 500;margin: 0;width: 100%;">Selecciona o crea nuevas cuentas</p>
    </ion-label>
    
    <ion-icon slot="end" name="chevron-forward" style="font-size: 23px;margin-top: 8%;color: #a1a1a1;"></ion-icon>
  </ion-item>


  <ion-item class="ion-no-padding" lines="none" button="true" (click)="goData()"
  style="--padding-bottom: 10px;--padding-top:10px; border-bottom: solid 0.5px #ececec;">
  <div slot="start" style="background:var(--secondary-color) ;border-radius: 10px;margin: auto;padding: 7px 10px;margin: 10px 20px;">
    <ion-icon name="shield-checkmark" style="font-size: 23px;margin-top: 8%;color: #FFF;"></ion-icon>
  </div>
  <ion-label style="font-weight: 500;font-size: 15px;margin: 7px auto;margin-bottom: 3px;">Datos de la cuenta <br>
    <p style="font-size: 11px; color: #a1a1a1; font-weight: 500;margin: 0;width: 100%;">Gestiona los datos de la
      cuenta seleccionada</p>
  </ion-label>
  
  <ion-icon slot="end" name="chevron-forward" style="font-size: 23px;margin-top: 8%;color: #a1a1a1;"></ion-icon>
</ion-item>


  <p style="margin-left:20px ;color: var(--main-color);font-size: 13px;font-weight: 600;">Únase a la comunidad</p>

  <ion-item class="ion-no-padding" lines="none" button="true"  target="_blank" [href]="'https://www.youtube.com/c/CRIPTOVISION'"
    style="--padding-bottom: 10px;--padding-top:10px; border-bottom: solid 0.5px #ececec;">
    <div slot="start" style="background:#c4302b ;border-radius: 10px;margin: auto;padding: 7px 10px;margin: 10px 20px;">
      <ion-icon name="logo-youtube" style="font-size: 23px;margin-top: 8%;color: #FFF;"></ion-icon>
    </div>
    <ion-label style="font-weight: 500;font-size: 15px;margin: 7px auto;margin-bottom: 3px;">Youtube</ion-label>
    <ion-icon slot="end" name="chevron-forward" style="font-size: 23px;margin-top: 8%;color: #a1a1a1;"></ion-icon>
  </ion-item>


  <ion-item class="ion-no-padding" lines="none" button="true"  target="_blank" [href]="'https://www.facebook.com/criptovision'"
    style="--padding-bottom: 10px;--padding-top:10px; border-bottom: solid 0.5px #ececec;">
    <div slot="start" style="background:#3b5998 ;border-radius: 10px;margin: auto;padding: 7px 10px;margin: 10px 20px;">
      <ion-icon name="logo-facebook" style="font-size: 23px;margin-top: 8%;color: #FFF;"></ion-icon>
    </div>
    <ion-label style="font-weight: 500;font-size: 15px;margin: 7px auto;margin-bottom: 3px;">Facebook</ion-label>
    <ion-icon slot="end" name="chevron-forward" style="font-size: 23px;margin-top: 8%;color: #a1a1a1;"></ion-icon>
  </ion-item>

  <ion-item class="ion-no-padding" lines="none" button="true"  target="_blank" [href]="'https://twitter.com/CRIPTOVISION1'"
    style="--padding-bottom: 10px;--padding-top:10px; border-bottom: solid 0.5px #ececec;">
    <div slot="start" style="background:#00acee ;border-radius: 10px;margin: auto;padding: 7px 10px;margin: 10px 20px;">
      <ion-icon name="logo-twitter" style="font-size: 23px;margin-top: 8%;color: #FFF;"></ion-icon>
    </div>
    <ion-label style="font-weight: 500;font-size: 15px;margin: 7px auto;margin-bottom: 3px;">Twitter</ion-label>
    <ion-icon slot="end" name="chevron-forward" style="font-size: 23px;margin-top: 8%;color: #a1a1a1;"></ion-icon>
  </ion-item>




  <ion-item class="ion-no-padding" lines="none" button="true"  target="_blank" [href]="'https://www.instagram.com/criptovisionperu/'"
    style="--padding-bottom: 10px;--padding-top:10px; border-bottom: solid 0.5px #ececec;">
    <div slot="start" style="background:#FCAF45 ;border-radius: 10px;margin: auto;padding: 7px 10px;margin: 10px 20px;">
      <ion-icon name="logo-instagram" style="font-size: 23px;margin-top: 8%;color: #FFF;"></ion-icon>
    </div>
    <ion-label style="font-weight: 500;font-size: 15px;margin: 7px auto;margin-bottom: 3px;">Instagram</ion-label>
    <ion-icon slot="end" name="chevron-forward" style="font-size: 23px;margin-top: 8%;color: #a1a1a1;"></ion-icon>
  </ion-item>

</ion-content>
