<ion-content class="contetInicio">

  <div style="--color: var(--main-color);margin-bottom: 0;">
    <!-- HEADER -->
    <ion-icon slot="start" name="arrow-back" class="icon-nav-arrow "
      style="color: var(--main-color); border-radius: 100%;position: absolute;z-index: 10;" (click)="closeModal()">
    </ion-icon>
    <ion-item style="--background: transparent;margin-bottom: 0;" lines="none">
      <ion-title class="title" style="color: var(--main-color);">Transacciones VSION</ion-title>
    </ion-item>
  </div>
  <ion-content>
